<h1>Welcome in <%= title %></h1>
<section>
    <h2>Ma todolist</h2>
    <ul>
        <% todos.forEach((todo, id) => { %>
            <li><a href="<%= siteUrl %>/todos/delete/<%= id %>">(X)</a> <%= todo %></li>
        <% }); %>
    </ul>
    <form action="<%= siteUrl %>/todos/add" method="POST">
        <p>Que dois-je faire ?</p>
        <input type="text" name="todo">
        <input type="submit" value="Ajouter">
    </form>
</section>